@import "../../app-variables";

.page {
  background-color: $about;
}

.text {
  padding: 0 20 20 20;
}

.text-header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", "Oswald-Bold";
  font-size: 30;
}

.text-italic {
  font-style: italic;
  text-align: center;
  font-size: 20;
  padding: 0 20;
}

.sponsor-image-wrapper {
  height: 80;
  width: 80%;
  border-radius: 10;
  background-color: $white;
  margin-top: 10;
  margin-bottom: 10;
}

.sponsor-image {
  width: 80%;
}
