<FAB
  (tap)="onNavItemTap('/praytimes')"
  icon="~/assets/images/praytimes{{ praytimesActive }}.png"
  [ngClass]="{ 'fab-button-praytimes-active': active === 'praytimes' }"
  rippleColor="#f1f1f1"
  class="fab-button fab-button-praytimes"
></FAB>

<FAB
  (tap)="onNavItemTap('/glossary')"
  icon="~/assets/images/glossary{{ glossaryActive }}.png"
  [ngClass]="{ 'fab-button-glossary-active': active === 'glossary' }"
  rippleColor="#f1f1f1"
  class="fab-button fab-button-glossary"
></FAB>

<FAB
  (tap)="onNavItemTap('/mussala')"
  icon="~/assets/images/mussala{{ mussalaActive }}.png"
  [ngClass]="{ 'fab-button-mussala-active': active === 'mussala' }"
  rippleColor="#f1f1f1"
  class="fab-button fab-button-mussala"
></FAB>

<FAB
  (tap)="onNavItemTap('/about')"
  icon="~/assets/images/about{{ aboutActive }}.png"
  [ngClass]="{ 'fab-button-about-active': active === 'about' }"
  rippleColor="#f1f1f1"
  class="fab-button fab-button-about"
></FAB>

<FAB
  (tap)="onNavItemTap('/news')"
  icon="~/assets/images/news{{ newsActive }}.png"
  [ngClass]="{ 'fab-button-news-active': active === 'news' }"
  rippleColor="#f1f1f1"
  class="fab-button fab-button-news"
></FAB>
